<!-- 

<br><br><br>

<div *ngIf="pre" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Present</strong>The Student is Present
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div *ngIf="abs" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Absent</strong> The Student is absent
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<br><br>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Roll No</th>
        <th scope="col">Name</th>
        <th scope="col">Present</th>
        <th scope="col">Absent</th>
        <th scope="col">Percentage</th>
        <th scope="col">Action</th>
        
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let item of data" >
        
        <th scope="row" >{{item.rollno}}</th>
        <td>{{item.name}}</td>
        <td>{{item.present}}</td>
        <td>{{item.absent}}</td>
        <td>{{item.percentage}}</td>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-success" (click)="present(item)">Present</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-danger" (click)="absent(item)">Absent</button>
            </div>
            <div class="col">
                
            </div>
          </div>
      </tr>
    
      
    </tbody>
  </table>
 -->
 
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img class="logo-one" src="../../assets/img/logo.png" alt="logo one" width="20%">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/attendance">Check Attendance</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="profile.html"></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/sheet">Give Attendance</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="profile.html"></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/create">Add Student</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="profile.html"></a>
      </li>
        <li class="nav-item active">
          <a class="nav-link" href="/createnotice">Add Notice</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="projects.html"></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/viewnotice">All Notice</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="projects.html"></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/">Logout</a>
        </li>
        
        
        
    </ul>
  </div>
</nav>

 
 <div *ngIf="pre" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Present</strong>The Student is Present
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div *ngIf="abs" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Absent</strong> The Student is absent
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
 
 <div class="jumbotron" style="background-color: white;">
  <div class="row">
    <div class="col">
        <div class="form-group">
            
            <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="Enter The Date" formControlName="dt">
          </div>
    </div>
    <div class="col">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" name="name" [(ngModel)]="name"  (ngModelChange)="Search"  placeholder="Search Name Or Roll No"  aria-label="Search">
      </form>
    </div>
  </div>
  
  
  
 <mat-card>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Roll No</th>
        <th scope="col">Name</th>
        <th scope="col">Section</th>
        <th scope="col">Present</th>
        <th scope="col">Absent</th>
        
        <th scope="col">Give Your Attendance</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data | filter:name">
        <th scope="row">{{item.rollno}}</th>
        <td>{{item.name}}</td>
        <td>{{item.semister}}</td>
        <td>{{item.present}}</td>
        <td>{{item.absent}}</td>
        <td>
          <div class="row">
            <!-- <div class="col">
                <button  mat-raised-button color="primary" (click)="present(item)">Present</button>
            </div>
            <div class="col">
                <button  mat-raised-button color="warn" (click)="absent(item)">Absent</button>
            </div> -->
            <div class="col">
              <button mat-raised-button color="accent" (click)="dstud(item)">Left The College</button>
            </div>
          </div>
        </td>
        
      </tr>
    </tbody>
  </table>
 </mat-card>
 </div>
 